{% extends "default.html" %}
{% load i18n %}
{% block title %}
Настройки
{% endblock title %}

{% block content %}
    <div class="container-xxl main-main">
        <div class="row">
            <div class="offcanvas-lg sidebar" tabindex="-1" id="offcanvasResponsive"  data-bs-keyboard="false"  data-bs-backdrop="false" data-bs-scroll="true" aria-labelledby="offcanvasResponsiveLabel" style="width: 280px; padding: 0px; background-color: rgba(126, 159, 164, 0.5) !important;">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body sidebar" style="display: block; padding: 0px;">
                    <div class="ava text-break">
                        <img src="{{ request.user.userprofile.avatar.url }}" alt="Avatar" width="80" height="80" class="rounded-circle">
                        <span class="username">{{ request.user.userprofile.name }}</span>
                    </div>
                    <div class="input-group dropdown">
                        <button type="button" class="btn btn-primary" id="side-but" style="background: #282A25; border-color: #282A25; width: 17%;">
                            <i class="fas fa-plus" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background: rgba(255, 255, 255, 0.8); color: black; border: none; width: 80%; text-align: left;">{% trans "Создать" %}</button>
                        <ul style="padding: 0;" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a style="padding: 0px;" class="dropdown-item" href="{% url 'tasks' %}"><button class="drop-icon"><img width="25px" height="25px" src="/static/images/icons/check_circle_icon.svg" /></button><span class="drop-head">{% trans "Задача" %}</span></a></li>
                            <li><a style="padding: 0px;"class="dropdown-item" href="{% url 'notes' %}"><button class="drop-icon"><img width="25px" height="25px" src="/static/images/icons/document_icon.svg" /></button><span class="drop-head">{% trans "Заметка" %}</span></a></li>
                        </ul>
                    </div>
                    <div class="calendar-wrapper">
                        <button id="btnPrev" type="button" style="margin-top: 15px;"></button>
                        <h6 id="headCal"></h6>
                        <button id="btnNext" type="button"></button>
                        <div id="divCal"></div>
                    </div>
                    <div class="nav-list">
                        <ul style="list-style-type: none;">
                            <li><a href="{% url 'main' %}">{% trans "Главная" %}</a></li>
                            <li><a href="{% url 'notes' %}">{% trans "Заметки" %}</a></li>
                            <li><a href="{% url 'tasks' %}">{% trans "Задачи" %}</a></li>
                            <li><a href="{% url 'trash' %}">{% trans "Корзина" %}</a></li>
                            <li class="current_page"><a href="{% url 'user_settings' %}">{% trans "Настройки" %}</a></li>
                            <li class="logout-menu"><a href="{% url 'logout' %}">{% trans "Выйти" %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col user-settings" style="height: 832px;">
                <button class="btn btn-primary d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive" style="background-color: transparent; border: none;">
                    <img width="30px" height="30px" src="/static/images/icons/menu_2.png" />
                </button>
                <p class="main-header">{% trans "Настройки" %}</p>
                {% if user_form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in user_form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if profile_form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors2">
                            {% for key, value in profile_form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="col-12 col-md-6 col-lg-5">
                    <form method="post" enctype="multipart/form-data" class="set-form" onsubmit="return validateSize(this)">
                        {% csrf_token %}
                        <div>
                            <label class="mb-2 set-label">{% trans "Имя" %}:</label>
                                {{ profile_form.name }}
                        </div>
                        <div class="mail-field" style="margin-top: 30px;">
                            <label class="mb-2 set-label">{% trans "Адрес электронной почты" %}:</label>
                                {{ user_form.email }}
                        </div>
                        <div style="margin-top: 30px;">
                            <label class="mb-2 set-label">{% trans "Аватар" %}:</label>
                            {{ profile_form.avatar }}
                        </div>
                        <div id ="file_error">
                        </div>
                        <div class="mb-3" style="margin-top: 30px;">
                            <label class="small mb-1">{% trans "Пароль" %}:</label>
                            <input required type="password" class="form-control no-focus" name="password1" placeholder="{% trans 'Введите новый пароль' %}">
                        </div>
                        <div>
                            <input required type="password" class="form-control no-focus" name="password2" placeholder="{% trans 'Повторите пароль' %}">
                        </div>
                        <div class="mt-260">
                            <button type="submit" class="lg-but" style="width: 240px;">{% trans "Сохранить изменения" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script>
function validateSize(form) {
    const oFile = document.getElementById('id_avatar').files[0];
    if (oFile.size >= 1048576) {
        document.getElementById('file_error').innerHTML="<div class='mt-3'><ul><li style='color: #842029;'><b>Размер файла не должен превышать 1Mb</b></li></ul></div>";
        document.getElementById('id_avatar').value= null;
        return false;
    }
}
</script>

<script src="/static/js/calendarWidget.js"></script>

{% endblock content %}