<!--шаблон для head, header и footer для страниц авторизации без формы поиска в header-->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/myscripts.js' %}"></script>
    <link rel="icon" href="{% static 'images/Noted_favicon.png' %}" type="image/pgn">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a5853bef6b.js" crossorigin="anonymous"></script>

    <title>
        {% block title %}
        {% endblock title %}
    </title>

</head>
<body>
    <header>
        <div class="container-xxl text-center header-area" >
            <div class="row align-items-center justify-content-between" style="height: 70px;">
                <div class="col-auto me-auto">
                    <a href="{% url 'login' %}"><img src="/static/images/Noted_colour_full_RGB.png" alt="Logo" width="140" height="60"></a>
                </div>
                <div class="col-auto d-none">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">RU</a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">eng</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        <div class="container-xxl" style="background: rgba(255, 255, 255, 0.8);
                box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25); font-size: 15px; color: #282a25;">
            <div style=" display: flex; flex-direction: column; align-items: center;">
                <p class="text-center mb-0" style="line-height:32px;">Данное приложение разработано в рамках проекта <a href="#" style="color: #282a25;">Pineapple Practice</a></p>
            </div>
        </div>
    </footer>
</body>
</html>