<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/Noted_favicon.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Roboto&display=swap" rel="stylesheet">

<title>
    {% block title %}
    {% endblock title %}
</title>
</head>
<body>
    <header>
        <div class="container-xxl text-center header-area" >
            <div class="row align-items-center justify-content-between" style="height: 70px;">
                <div class="col-auto me-auto">
                    <img src="/static/images/Noted_colour_full_RGB.png" alt="Logo" width="140" height="60">
                </div>
                <div class="col-auto">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">RU</a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">eng</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>