{% extends "default2.html" %}
{% load i18n %}
{% block title %}
Войти
{% endblock title %}

{% block content %}

<main>
    <div class="container-xxl main-area">
        <div class="col-10 offset-1 col-lg-4 offset-lg-4 form-block">
            <p class="auth-header">{% trans "Авторизация" %}</p>
            <form method="post" action="{% url 'login' %}" class="form-area">
            {% csrf_token %}
                <div class="mb-3">
                    <input type="email" class="form-control my-inp" name="email" placeholder="E-mail">
                </div>
                <div id="pass-inp">
                    <input type="password" class="form-control my-inp" id="password" name="password" placeholder="{% trans 'Пароль' %}">
                    <span id="span_img" class="eye"><a onclick="togglePassword()"><img width="25px" height="25px" id="togglePassword" src="/static/images/icons/eye_closed.svg"/></a></span>
                </div>
                <div class="row gx-0 rem-but">
                    <div class="col-auto me-auto mb-3 form-check" style="margin-top: 16px;">
                        <input type="checkbox" name="remember_me" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">{% trans "Запомнить" %}</label>
                    </div>
                    <div class="col-auto button-wrapper" style="margin: 10px 0px 10px; ">
                    <button type="submit" class="btn sm-but">{% trans "Войти" %}</button>
                    </div>
                </div>
            </form>
            <div class="row" id="reg-res">
                <div class="col-auto me-auto">
                    <a href="{% url 'signup' %}">{% trans "Регистрация" %}</a>
                </div>
                <div class="col-auto">
                    <a href="{% url 'reset_password' %}">{% trans "Забыли пароль" %}?</a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}