{% extends "default.html" %}

{% block title %}
Главная страница
{% endblock title %}

{% block content %}
    <div class="container-xxl main-main">
        <div class="row">
            <div class="col-auto col-2.5 sidebar">
                <div class="ava">
                    <img src="/static/images/vorobey.jpg" alt="Avatar" width="80" height="80" class="rounded-circle">
                    <span class="username">{{ request.user }}</span>
                </div>
                <div class="input-group">
                    <button type="button" class="btn btn-primary" style="background: #282A25; border-color: #282A25;">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </button>
                    <input type="search" class="form-control" style="background: #f0f8ff;" placeholder="Поиск" />
                </div>
                <div class="input-group dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background: #282A25; border-color: #282A25; width: 17%;">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="">
                        <li><a class="dropdown-item" href="#">Задачу</a></li>
                        <li><a class="dropdown-item" href="#">Заметку</a></li>
                    </ul>
                    <button type="button" class="btn btn-primary" style="background: #f0f8ff; color: black; border: 1px solid #ced4da; width: 83.4%; text-align: left;">Создать</button>
                </div>
                <div class="calendar-wrapper">
                    <button id="btnPrev" type="button" style="margin-top: 15px;"></button>
                    <h6 id="headCal"></h6>
                    <button id="btnNext" type="button"></button>
                    <div id="divCal"></div>
                </div>
                <div class="nav-list">
                    <ul style="list-style-type: none;">
                        <li class="current_page"><a href="{% url 'main' %}">Главная</a></li>
                        <li><a href="{% url 'notes' %}">Заметки</a></li>
                        <li><a href="{% url 'signin' %}">Задачи</a></li>
                        <li><a href="{% url 'signin' %}">Корзина</a></li>
                        <li><a href="{% url 'signin' %}">Настройки</a></li>
                        <li style="background: rgba(108, 100, 81, 0.8);"><a href="{% url 'logout' %}">Выйти</a></li>
                    </ul>
                    </ul>
                </div>
            </div>
            <div class="col" id="tasks-notes">
                <div class="row">
                    <div class="col-6 tasks">
                        <h3 style="text-align: center; font-family: 'Didact Gothic', sans-serif; margin-top: 20px; margin-bottom: 40px;">Задачи на {{ date }}</h3>
                        <div class="col-6 offset-3">
                            {% for task in today_tasks %}
                                <div class="row note-block">
                                    <div class="col-10">
                                        <h6><b>{{ task.task_title }}</b></h6>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-6 notes">
                        <h3 style="text-align: center; font-family: 'Didact Gothic', sans-serif; margin-top: 20px; margin-bottom: 40px;">Последние заметки</h3>
                        <div class="col-8 offset-2 main-notes">
                        {% for note in notes %}
                            <a href="{% url 'note_details' note.id %}">
                                <div class="row note-block">
                                    <div class="col-9">
                                        <h6><b>{{ note.note_title }}</b></h6>
                                        {{ note.note_text | truncatewords:4 }}
                                    </div>
                                    <div class="col-3 ms-auto note_date">
                                        {{ note.note_time | date:"j.m.Y" }}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    var today=new Date();
    var day=today.getDate();
    document.getElementById('tasks-notes').style.backgroundImage = 'url('+'/static/images/'+day+'.jpg'+')';
    document.getElementById('tasks-notes').style.backgroundRepeat = "no-repeat";
    document.getElementById('tasks-notes').style.backgroundPosition = "center";
    document.getElementById('tasks-notes').style.backgroundSize = "cover";
</script>

<script>
var Cal = function(divId1, divId2) {
  //Сохраняем идентификатор div
  this.divId1 = divId1;
  this.divId2 = divId2;
  // Дни недели с понедельника
  this.DaysOfWeek = [
    'ПН',
    'ВТ',
    'СР',
    'ЧТ',
    'ПТ',
    'СБ',
    'ВС'
  ];
  // Месяцы начиная с января
  this.Months =['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'];
  //Устанавливаем текущий месяц, год
  var d = new Date();
  this.currMonth = d.getMonth();
  this.currYear = d.getFullYear();
  this.currDay = d.getDate();
};
// Переход к следующему месяцу
Cal.prototype.nextMonth = function() {
  if ( this.currMonth == 11 ) {
    this.currMonth = 0;
    this.currYear = this.currYear + 1;
  }
  else {
    this.currMonth = this.currMonth + 1;
  }
  this.showcurr();
};
// Переход к предыдущему месяцу
Cal.prototype.previousMonth = function() {
  if ( this.currMonth == 0 ) {
    this.currMonth = 11;
    this.currYear = this.currYear - 1;
  }
  else {
    this.currMonth = this.currMonth - 1;
  }
  this.showcurr();
};
// Показать текущий месяц
Cal.prototype.showcurr = function() {
  this.showMonth(this.currYear, this.currMonth);
};
// Показать месяц (год, месяц)
Cal.prototype.showMonth = function(y, m) {
  var d = new Date()
  // Первый день недели в выбранном месяце
  , firstDayOfMonth = new Date(y, m, 7).getDay()
  // Последний день выбранного месяца
  , lastDateOfMonth =  new Date(y, m+1, 0).getDate()
  // Последний день предыдущего месяца
  , lastDayOfLastMonth = m == 0 ? new Date(y-1, 11, 0).getDate() : new Date(y, m, 0).getDate();

  var html1 = '';
  // Запись выбранного месяца и года
  html1 += this.Months[m] + ', ' + y;

  var html = '<table>';

  // заголовок дней недели
  html += '<tr class="days">';
  for(var i=0; i < this.DaysOfWeek.length;i++) {
    html += '<td>' + this.DaysOfWeek[i] + '</td>';
  }
  html += '</tr>';
  // Записываем дни
  var i=1;
  do {
    var dow = new Date(y, m, i).getDay();
    // Начать новую строку в понедельник
    if ( dow == 1 ) {
      html += '<tr>';
    }
    // Если первый день недели не понедельник, показать последние дни предыдущего месяца
    else if ( i == 1 ) {
      html += '<tr>';
      var k = lastDayOfLastMonth - firstDayOfMonth+1;
      for(var j=0; j < firstDayOfMonth; j++) {
        var m0 = (m<10 ? '0' : '') + m;
        html += '<td class="not-current"><a href=/main/' + k + '-' + (m==0 ? '12' : m0) + '-' + (m==0 ? y-1 : y) + '/>' + k + '</td>';
        k++;
      }
    }
    // Записываем текущий день в цикл
    var chk = new Date();
    var chkY = chk.getFullYear();
    var chkM = chk.getMonth();
    var day = (i<10 ? '0' : '') + i;
    var mon = m+1;
    var mon0 = (mon<10 ? '0' : '') + mon;
    if (chkY == this.currYear && chkM == this.currMonth && i == this.currDay) {
      html += '<td><span class="today"><a href=/main/' + day + '-' + mon0 + '-' + y + '/>' + i + '</span></td>';
    } else {
      html += '<td class="normal"><a href=/main/' + day + '-' + mon0 + '-' + y + '/>' + i + '</td>';
    }
    // закрыть строку в воскресенье
    if ( dow == 0 ) {
      html += '</tr>';
    }
    // Если последний день месяца не воскресенье, показать первые дни следующего месяца
    else if ( i == lastDateOfMonth ) {
      var k=1;
      var m1 = m+2;
      var m0 = (m1<10 ? '0' : '') + m1;
      for(dow; dow < 7; dow++) {
        var k0 = (k<10 ? '0' : '') + k;
        html += '<td class="not-current"><a href=/main/' + k0 + '-' + (m==11 ? '01' : m0) + '-' + (m==11 ? y+1 : y) + '/>' + k + '</td>';

	k++;
      }
    }
    i++;
  }while(i <= lastDateOfMonth);
  // Конец таблицы
  html += '</table>';
  // Записываем HTML в div

  document.getElementById(this.divId2).innerHTML = html;
  document.getElementById(this.divId1).innerHTML = html1;

};

  // Начать календарь
  var c = new Cal("headCal", "divCal");
  c.showcurr();
  // Привязываем кнопки «Следующий» и «Предыдущий»
  getId('btnNext').onclick = function() {
    c.nextMonth();
  };
  getId('btnPrev').onclick = function() {
    c.previousMonth();
  };

// Получить элемент по id
function getId(id) {
  return document.getElementById(id);
}

</script>

{% endblock content %}