{% extends 'default.html' %}

{% block title %}
All notes
{% endblock title %}
 
{% block content %}

{% include 'messages.html' %}

<h3>Привет, {{ request.user }}! </h3>

<h1>Задачи на неделю</h1>

<hr>

{% for day, date, notes in week_notes %}

    <h2>{{ day }}</h2>

    <h3><a href="{% url 'date_notes' date %}">{{ date }}</a></h3>

    {% if notes %}

        {% for note in notes %}

                <p>{{ forloop.counter }}. <a href="{% url 'note_detail' note.pk %}">{{ note.note_title }}</a></p>

        {% endfor %}

    {% else %}

            <h4>Задач нет!</h4>

    {% endif %}

<hr>

{% endfor %}

<p><button> <a href="{% url 'note_add' %}">Добавить задачу</a> </button></p>

<p><button> <a href="{% url 'logout' %}">Выйти</a> </button></p>

<p><button> <a href="{% url 'next_notes' next_mon %}">Следующая неделя</a> </button></p>

<p><button> <a href="{% url 'previous_notes' prev_mon %}">Предыдующая неделя</a> </button></p>

{% if not main %}

<p><button> <a href="{% url 'main' %}">На главную страницу</a> </button></p>

{% endif %}

{% endblock content %}