{% extends "default.html" %}

{% load custom_filters %}

{% block title %}
Редактировать заметку
{% endblock title %}

{% block content %}
    <div class="container-xxl main-main">
        <div class="row">
            <div class="offcanvas-lg sidebar" tabindex="-1" id="offcanvasResponsive"  data-bs-keyboard="false"  data-bs-backdrop="false" data-bs-scroll="true" aria-labelledby="offcanvasResponsiveLabel" style="width: 280px; padding: 0px; background-color: rgba(126, 159, 164, 0.5) !important;">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body sidebar" style="display: block; padding: 0px;">
                    <div class="ava text-break">
                        <img src="{{ request.user.userprofile.avatar.url }}" alt="Avatar" width="80" height="80" class="rounded-circle">
                        <span class="username">{{ request.user.userprofile.name }}</span>
                    </div>
                    <div class="input-group dropdown">
                        <button type="button" class="btn btn-primary" id="side-but" style="background: #282A25; border-color: #282A25; width: 17%;">
                            <i class="fas fa-plus" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background: rgba(255, 255, 255, 0.8); color: black; border: none; width: 80%; text-align: left;">Создать</button>
                        <ul style="padding: 0;" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a style="padding: 0px;" class="dropdown-item" href="{% url 'tasks' %}"><button class="drop-icon"><img width="25px" height="25px" src="/static/images/icons/check_circle_icon.svg" /></button><span class="drop-head">Задача</span></a></li>
                            <li><a style="padding: 0px;"class="dropdown-item" href="{% url 'notes' %}"><button class="drop-icon"><img width="25px" height="25px" src="/static/images/icons/document_icon.svg" /></button><span class="drop-head">Заметка</span></a></li>
                        </ul>
                    </div>
                    <div class="calendar-wrapper">
                        <button id="btnPrev" type="button" style="margin-top: 15px;"></button>
                        <h6 id="headCal"></h6>
                        <button id="btnNext" type="button"></button>
                        <div id="divCal"></div>
                    </div>
                    <div class="nav-list">
                        <ul style="list-style-type: none;">
                            <li><a href="{% url 'main' %}">Главная</a></li>
                            <li class="current_page"><a href="{% url 'notes' %}">Заметки</a></li>
                            <li><a href="{% url 'tasks' %}">Задачи</a></li>
                            <li><a href="{% url 'trash' %}">Корзина</a></li>
                            <li><a href="{% url 'user_settings' %}">Настройки</a></li>
                            <li class="logout-menu"><a href="{% url 'logout' %}">Выйти</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col" id="tasks-notes">
                <div class="row">
                    <div class="col-12 col-lg-4 order-last order-lg-first tasks">
                        <p class="main-header">Заметки</p>
                        <div class="col-10 offset-1">
                        {% for not in notes_pin %}
                            <a name="note{{ not.id }}"></a>
                            {% if not.id == note.id %}
                                <div class="note-block current-note">
                            {% else %}
                                <div class="note-block">
                            {% endif %}
                                    <div class="row mb-2">
                                        <div class="col-10 text-break note-title2 note-link">
                                            <a href="{% url 'note_details' not.id %}#note{{ not.id }}">{{ not.note_title }}</a>
                                        </div>
                                        <div class="col-2 dropdown">
                                            <a role="button" href="#" class="dropdown-toggle" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                                <img width="20px" height="20px" src="/static/images/icons/menu_hor.svg" />
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                <li><a class="dropdown-item black-li" href="#" onclick="DateUnpin({{ not.id }})">
                                                    Открепить<img style="float: right;" width="15px" height="15px" src="/static/images/icons/pin_red.svg" /></a></li>
                                                <li><a class="dropdown-item black-li" href="{% url 'send_note' not.id %}?next={{ request.path }}">
                                                    Поделиться<img style="float: right;" width="17px" height="17px" src="/static/images/icons/paper_plane_icon.svg" /></a></li>
                                                <li><a class="dropdown-item red-li" href="{% url 'note_delete' not.id %}?next={{ request.path }}">
                                                    Удалить<img style="float: right;" width="17px" height="17px" src="/static/images/icons/trash_icon.svg" /></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-9 text-break note-text2 note-link">
                                            <a href="{% url 'note_details' not.id %}#note{{ not.id }}">{{ not.note_text | truncatechars:25 }}</a>
                                        </div>
                                        <div class="col-3 note_date2" style="display: flex; justify-content: right;">
                                            {{ not.note_date | date:"j.m.Y" }}
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                        {% for not in notes %}
                            <a name="note{{ not.id }}"></a>
                            {% if not.id == note.id %}
                                <div class="note-block current-note">
                            {% else %}
                                <div class="note-block">
                            {% endif %}
                                    <div class="row mb-2">
                                        <div class="col-10 text-break note-title2 note-link">
                                            <a href="{% url 'note_details' not.id %}#note{{ not.id }}">{{ not.note_title }}</a>
                                        </div>
                                        <div class="col-2 dropdown">
                                            <a role="button" href="#" class="dropdown-toggle" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                                <img width="20px" height="20px" src="/static/images/icons/menu_hor.svg" />
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                                <li><a class="dropdown-item black-li" href="#" onclick="DatePin({{ not.id }})">
                                                    Закрепить<img style="float: right;" width="15px" height="15px" src="/static/images/icons/pin_black.svg" /></a></li>
                                                <li><a class="dropdown-item black-li" href="{% url 'send_note' not.id %}?next={{ request.path }}">
                                                    Поделиться<img style="float: right;" width="17px" height="17px" src="/static/images/icons/paper_plane_icon.svg" /></a></li>
                                                <li><a class="dropdown-item red-li" href="{% url 'note_delete' not.id %}?next={{ request.path }}">
                                                    Удалить<img style="float: right;" width="17px" height="17px" src="/static/images/icons/trash_icon.svg" /></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-9 text-break note-text2 note-link">
                                            <a href="{% url 'note_details' not.id %}#note{{ not.id }}">{{ not.note_text | truncatechars:25 }}</a>
                                        </div>
                                        <div class="col-3 note_date2" style="display: flex; justify-content: right;">
                                            {{ not.note_date | date:"j.m.Y" }}
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 col-lg-8 order-first order-lg-last notes" style="background: rgba(255, 255, 255, 0.5);">
                        <button class="btn btn-primary d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive" style="background-color: transparent; border: none;">
                            <img width="30px" height="30px" src="/static/images/icons/menu_2.png" />
                        </button>
                        <p class="main-header">Изменить заметку</p>
                        <form method="post" action="{% url 'note_edit' note.id %}" class="form-area" enctype='multipart/form-data' onsubmit="return validateSize(this)">
                        {% csrf_token %}
                            <div class="mb-3">
                                <input type="text" class="form-control note-title3" required name="note_title" value="{{ note.note_title }}">
                            </div>
                            <div>
                                <textarea class="form-control note-text3" rows="23" name="note_text">{{ note.note_text }}</textarea>
                            </div>
                            <div>
                                <input type="hidden" id="note_date" name="note_date" value="CurrentDate">
                            </div>
                            <div class="mb-3 upload-file">
                                {% if note.note_file %}
                                    <hr>
                                    <a href="{{ note.note_file.url }}">{{ note.note_file.name|file_name }}</a>
                                    <div id="del-checkbox">
                                        <label for="delete-file">Удалить файл</label>
                                        <input type="checkbox" id="delete-file" name="file_delete"/>
                                    </div>
                                    <label for="note_file" class="small mb-1">Изменить файл:</label>
                                {% endif %}
                                <input class="form-control" type="file" name="note_file" id="note_file" style="width: 60%;">
                            </div>
                            <div id ="file_error">
                            </div>
                            <div class="save-but mb-3">
                                <button type="submit" class="btn btn-primary" id="task_submit" onclick="submitbtn()">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    var today = new Date();
    var day = today.getDate();
	var d = (day<10 ? '0' : '') + day
	var month = today.getMonth();
	var mon = month+1
	var m = (mon<10 ? '0' : '') + mon
	var y = today.getFullYear();
	var date = y + '-' + m + '-' + d
    document.getElementById("note_date").value = date;
</script>

<script>
function validateSize(form) {
    const oFile = document.getElementById('note_file').files[0];
    if (oFile.size >= 1048576) {
        document.getElementById('file_error').innerHTML="<div class='mt-3'><ul><li style='color: #842029;'><b>Размер файла не должен превышать 1Mb</b></li></ul></div>";
        document.getElementById('note_file').value= null;
        return false;
    }
}
</script>

<script src="/static/js/calendarWidget.js"></script>

{% endblock content %}