{% extends "default.html" %}

{% block title %}
Все заметки
{% endblock title %}

{% block content %}
    <div class="container-xxl main-main">
        <div class="row">
            <div class="col-auto col-2 sidebar" style="width: 280px;">
                <div class="ava">
                    <img src="/static/images/vorobey.jpg" alt="Avatar" width="80" height="80" class="rounded-circle">
                    <span class="username">{{ request.user }}</span>
                </div>
                <div class="calendar-wrapper">
                    <button id="btnPrev" type="button" style="margin-top: 15px;"></button>
                    <h6 id="headCal"></h6>
                    <button id="btnNext" type="button"></button>
                    <div id="divCal"></div>
                </div>
                <div class="nav-list">
                    <ul style="list-style-type: none;">
                        <li style="padding-top: 0px;"><a href="{% url 'main' %}">Главная</a></li>
                        <li class="current_page"><a href="{% url 'notes' %}">Заметки</a></li>
                        <li><a href="{% url 'tasks' %}">Задачи</a></li>
                        <li><a href="{% url 'signin' %}">Корзина</a></li>
                        <li><a href="{% url 'signin' %}">Настройки</a></li>
                        <li style="background: rgba(108, 100, 81, 0.8);"><a href="{% url 'logout' %}">Выйти</a></li>
                    </ul>
                </div>
            </div>
            <div class="col" id="tasks-notes">
                <div class="row">
                    <div class="col-4 tasks">
                        <h2 style="text-align: center; font-family: 'Didact Gothic', sans-serif; margin-top: 20px; margin-bottom: 50px;">Заметки</h2>
                        <div class="col-10 offset-1">
                        {% for note in notes %}
                            <a href="{% url 'note_details' note.id %}">
                                <div class="row note-block">
                                    <div class="col-9">
                                        <h6><b>{{ note.note_title }}</b></h6>
                                        {{ note.note_text | truncatewords:10 }}
                                    </div>
                                    <div class="col-3 ms-auto note_date2">
                                        {{ note.note_time | date:"j.m.Y" }}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="col-8 notes" style="background: rgba(255, 255, 255, 0.5);">
                        <h3 style="text-align: center; font-family: 'Didact Gothic', sans-serif; margin-top: 20px; margin-bottom: 20px;">Добавить заметку</h3>
                        <form method="post" action="{% url 'notes' %}" class="form-area">
                        {% csrf_token %}
                            <div class="mb-3">
                                <input type="text" class="form-control note-title" name="note_title" placeholder="Название">
                                <button type="submit" class="btn btn-secondary" style="float: right;">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                </button>
                            </div>
                            <div>
                                <textarea class="form-control note-text" rows="25" name="note_text" placeholder="Наберите текст..."></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="/static/js/calendarWidget.js"></script>

{% endblock content %}