{% extends 'default.html' %}

{% block title %}
Note
{% endblock title %}

{% block content %}
<h2>{{ note.note_title }}</h2>

{{ note.note_text }}

<p>Дата: {{ note.note_time|date:'d-F-Y' }}</p>

<p>Тэги: {% for tag in note.tags.all %}
        {{ tag.name|title }}
        {% endfor %}</p>

<p><button> <a href="{% url 'note_edit' note.id %}">Редактировать</a> </button></p>
<p><button><a href="{% url 'note_delete' note.id %}"><u> Удалить </u></a></button></p>
<p><button> <a href="{% url 'main' %}">На главную страницу</a> </button></p>
<p><button> <a href="{% url 'logout' %}">Выйти</a> </button></p>

{% endblock content %}