{% extends "default.html" %}

{% block title %}
Reset password confirmation
{% endblock title %}

{% block content %}

{% include 'messages.html' %}

<main>
    <div class="container-xxl main-area">
        <div class="col-6 offset-3" style="padding-top: 40px;">

            <h2 style="text-align: center; font-family: 'Didact Gothic', sans-serif;">Изменение пароля</h2>
            <p style="padding-top: 25px; padding-bottom: 15px; font-size: 18px;">Пожалуйста, установите новый пароль к своей учетной записи.</p>

            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Установить">
            </form>

        </div>
    </div>
</main>

{% endblock %}