{% extends "default2.html" %}

{% block title %}
Изменение пароля
{% endblock title %}

{% block content %}

<main>
    <div class="container-xxl main-area">
        <div class="col-10 offset-1 col-lg-6 offset-lg-3" style="padding-top: 40px;">
            <p class="auth-header">Изменение пароля</p>
            <p style="padding-bottom: 15px; font-size: 15px; text-align: center;">Пожалуйста, установите новый пароль к Вашей учетной записи.</p>
        </div>
        <div class="col-8 offset-2 col-lg-4 offset-lg-4">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input required type="password" class="form-control my-inp" name="password1" placeholder="Введите новый пароль">
                </div>
                <div>
                    <input required type="password" class="form-control my-inp" name="password2" placeholder="Повторите пароль">
                </div>
                <div>
                    <button type="submit" class="btn lg-but button-wrapper" style="margin-right: auto; margin-left: auto; margin-top: 30px; justify-content: center;">Установить пароль</button>
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}