{% extends "default2.html" %}
{% load i18n %}
{% block title %}
Изменение пароля
{% endblock title %}

{% block content %}

<main>
    <div class="container-xxl main-area">
        <div class="col-10 offset-1 col-lg-6 offset-lg-3" style="padding-top: 40px;">
            <p class="auth-header">{% trans "Изменение пароля" %}</p>
            <p style="padding-bottom: 15px; font-size: 15px; text-align: center;">{% trans "Пожалуйста, установите новый пароль к Вашей учетной записи" %}.</p>
        </div>
        <div class="col-10 offset-1 col-lg-4 offset-lg-4">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3" style="position: relative;">
                    <input required type="password" class="form-control my-inp" name="password1" id="id_password1" placeholder="{% trans 'Введите новый пароль' %}">
                    <span class="eye"><a onclick="togglePassword()"><img width="25px" height="25px" id="togglePassword" src="/static/images/icons/eye_closed.svg"/></a></span>
                </div>
                <div style="position: relative;">
                    <input required type="password" class="form-control my-inp" name="password2" id="id_password2" placeholder="{% trans 'Повторите пароль' %}">
                    <span class="eye"><a onclick="togglePassword2()"><img width="25px" height="25px" id="togglePassword2" src="/static/images/icons/eye_closed.svg"/></a></span>
                </div>
                <div class="button-wrapper">
                    <button type="submit" class="btn lg-but" style="margin-right: auto; margin-left: auto; margin-top: 30px; justify-content: center;">{% trans "Установить пароль" %}</button>
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}