{% extends "default2.html" %}

{% block title %}
Регистрация
{% endblock title %}

{% block content %}

<main>
    <div class="container-xxl main-area">
        <div class="col-8 offset-2 col-lg-4 offset-lg-4 form-block">
            <p class="auth-header">Регистрация</p>
            <form method="post" class="form-area">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="row">
                    <div class="col button-wrapper" style="margin: 10px 0px 10px; ">
                        <button type="submit" class="btn lg-but" style="margin-right: auto; margin-left: auto;" id="form_submit" onclick="subformbtn()">Зарегистрироваться</button>
                    </div>
                </div>
             </form>
            <div class="row" id="reg">
                <div style=" display: flex; flex-direction: column; align-items: center;">
                    <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войдите</a></p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}