{% extends "default2.html" %}

{% block title %}
Регистрация
{% endblock title %}

{% block content %}

<main>
    <div class="container-xxl main-area">

        <div class="col-4 offset-4 form-block">

            <h2 style="text-align: center; font-family: 'Didact Gothic', sans-serif;">Регистрация</h2>

            <form method="post" class="form-area">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="row">
                    <div class="col button-wrapper" style="margin: 10px 0px 10px; ">
                    <button type="submit" class="btn lg-but" style="margin-right: auto; margin-left: auto;">Зарегистрироваться</button>
                    </div>
                </div>
             </form>

            <div class="row" id="reg-res">
                <div class="col-auto me-auto">
                    <a href="{% url 'login' %}">Войти</a>
                </div>
                <div class="col-auto">
                    <a href="{% url 'reset_password' %}">Забыли пароль?</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}