{% extends "default2.html" %}

{% block title %}
Запрос на восстановление пароля
{% endblock title %}

{% block content %}

<main>
    <div class="container-xxl main-area">
        <div class="col-10 offset-1 col-lg-6 offset-lg-3" style="padding-top: 40px;">
            <p class="auth-header">Восстановление пароля</p>
            <p style="padding-bottom: 15px; font-size: 15px;">Для восстановления пароля нужно указать Ваш E-mail. На указанный Вами адрес будет отправлено письмо с дальнейшими инструкциями.</p>
        </div>
        <div class="col-8 offset-2 col-lg-4 offset-lg-4">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input required type="email" class="form-control my-inp" name="email" placeholder="E-Mail">
                </div>
                <div class="button-wrapper">
                    <button type="submit" id="form_submit" class="btn lg-but" style="margin-right: auto; margin-left: auto; margin-top: 12px;" onclick="subformbtn()">Восстановить пароль</button>
                </div>
            </form>
        </div>
        <div class="col-10 offset-1 col-lg-6 offset-lg-3" style="padding-top: 35px;">
            <p style="margin-bottom: 5px; font-size: 15px;"><b>Что делать, если письмо не приходит?</b></p>
            <p style="font-size: 15px;">Если Вы не получили письмо через несколько минут, проверьте папку Спам.</p>
        </div>
    </div>
</main>

{% endblock %}