{% extends "default2.html" %}

{% block title %}
Запрос на восстановление пароля
{% endblock title %}

{% block content %}

<main>
    <div class="container-xxl main-area">
        <div class="col-6 offset-3" style="padding-top: 40px;">

            <h2 style="text-align: center; font-family: 'Didact Gothic', sans-serif;">Восстановление пароля</h2>

            <p style="padding-top: 25px; padding-bottom: 15px; font-size: 18px;">Для восстановления пароля нужно указать Ваш E-mail. На указанный Вами адрес будет отправлено письмо со ссылкой для восстановления пароля.</p>
        </div>
        <div class="col-4 offset-4">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="email" class="form-control my-inp" name="email" placeholder="E-Mail">
                </div>
                <div>
                    <button type="submit" class="btn  lg-but button-wrapper" style="margin-right: auto; margin-left: auto; margin-top: 30px;">Восстановить пароль</button>
                </div>
            </form>
        </div>
        <div class="col-6 offset-3" style="padding-top: 35px;">
            <p style="margin-bottom: 5px;"><b>Что делать, если письмо не приходит?</b></p>
            <p>Если Вы не получили письмо через несколько минут, проверьте папку Спам.</p>
        </div>
    </div>
</main>

{% endblock %}