{% extends "default.html" %}

{% block title %}
Настройки
{% endblock title %}

{% block content %}
    <div class="container-xxl main-main">
        <div class="row">
            <div class="col-auto col-2 sidebar" style="width: 280px;">
                <div class="ava">
                    <img src="{{ request.user.userprofile.avatar.url }}" alt="Avatar" width="80" height="80" class="rounded-circle">
                    <span class="username">{{ request.user }}</span>
                </div>
                <div class="input-group dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background: #282A25; border-color: #282A25; width: 17%;">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="">
                        <li><a class="dropdown-item" href="{% url 'tasks' %}">Задачу</a></li>
                        <li><a class="dropdown-item" href="{% url 'notes' %}">Заметку</a></li>
                    </ul>
                    <button type="button" class="btn btn-primary" style="background: #f0f8ff; color: black; border: 1px solid #ced4da; width: 80%; text-align: left;">Создать</button>
                </div>
                <div class="calendar-wrapper">
                    <button id="btnPrev" type="button" style="margin-top: 15px;"></button>
                    <h6 id="headCal"></h6>
                    <button id="btnNext" type="button"></button>
                    <div id="divCal"></div>
                </div>
                <div class="nav-list">
                    <ul style="list-style-type: none;">
                        <li style="padding-top: 0px;"><a href="{% url 'main' %}">Главная</a></li>
                        <li><a href="{% url 'notes' %}">Заметки</a></li>
                        <li><a href="{% url 'tasks' %}">Задачи</a></li>
                        <li><a href="{% url 'trash' %}">Корзина</a></li>
                        <li class="current_page"><a href="{% url 'user_settings' %}">Настройки</a></li>
                        <li style="background: rgba(108, 100, 81, 0.8);"><a href="{% url 'logout' %}">Выйти</a></li>
                    </ul>
                </div>
            </div>
            <div class="col user-settings" style="height: 1000px;">
                <h2 style="text-align: center; font-family: 'Didact Gothic', sans-serif; margin-top: 20px; margin-bottom: 50px;">Мои настройки</h2>
                {% if user_form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in user_form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="col-6">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <label class="small mb-1">Ваше имя:</label>
                                {{ user_form.username }}
                        </div>
                        <div class="mail-field" style="margin-top: 20px;">
                            <label class="small mb-1">Ваш Email:</label>
                                {{ user_form.email }}
                        </div>
                        <div style="margin-top: 40px;">
                            <p style="margin-bottom: 3px;"><label class="small">Сменить аватарку:</label></p>
                            {{ profile_form.avatar }}
                        </div>
                        <div style="margin-top: 40px;">
                            <button class="btn btn-light"><a style="text-decoration: none; color: black;" href="{% url 'change_password' %}">Если хотите сменить пароль, нажмите здесь</a></button>
                        </div>
                        <div style="margin-top: 40px;">
                            <button type="submit" class="btn btn-dark btn-lg" style="font-family: 'Didact Gothic', sans-serif;">Сохранить изменения</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script src="/static/js/calendarWidget.js"></script>

{% endblock content %}