{% extends "default.html" %}

{% block title %}
Все задачи
{% endblock title %}

{% block content %}
    <div class="container-xxl main-main">
        <div class="row">
            <div class="col-auto col-2 sidebar" style="width: 280px;">
                <div class="ava">
                    <img src="/static/images/vorobey.jpg" alt="Avatar" width="80" height="80" class="rounded-circle">
                    <span class="username">{{ request.user }}</span>
                </div>
                <div class="calendar-wrapper">
                    <button id="btnPrev" type="button" style="margin-top: 15px;"></button>
                    <h6 id="headCal"></h6>
                    <button id="btnNext" type="button"></button>
                    <div id="divCal"></div>
                </div>
                <div class="nav-list">
                    <ul style="list-style-type: none;">
                        <li style="padding-top: 0px;"><a href="{% url 'main' %}">Главная</a></li>
                        <li><a href="{% url 'notes' %}">Заметки</a></li>
                        <li class="current_page"><a href="{% url 'tasks' %}">Задачи</a></li>
                        <li><a href="{% url 'signin' %}">Корзина</a></li>
                        <li><a href="{% url 'signin' %}">Настройки</a></li>
                        <li style="background: rgba(108, 100, 81, 0.8);"><a href="{% url 'logout' %}">Выйти</a></li>
                    </ul>
                </div>
            </div>
            <div class="col" id="tasks-notes">
                <div class="row">
                    <div class="col-5 tasks">
                        <h2 style="text-align: center; font-family: 'Didact Gothic', sans-serif; margin-top: 20px; margin-bottom: 50px;">Задачи</h2>
                        <div class="col-10 offset-1">
                            {% for task in tasks_important %}
                                <div class="row note-block">
                                    <div class="col-11">
                                        <h6><b>{{ task.task_title }}</b></h6>
                                        <a href="{% url 'task_done' task.id %}?next={{ request.path }}">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </a>
                                    </div>
                                    <div class="col-1 ms-auto">
                                        <i class="fa-solid fa-flag"></i>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for task in today_tasks %}
                                <div class="row note-block">
                                        <div class="col-9">
                                            <h6><b>{{ task.task_title }}</b></h6>
                                            <a href="{% url 'task_done' task.id %}?next={{ request.path }}">
                                                <i class="fa-regular fa-trash-can"></i>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for task in tasks_deleted %}
                                    <div class="row note-block">
                                        <div class="col-9" style="color: grey;">
                                            <h6><s>{{ task.task_title }}</s></h6>
                                            <a href="">
                                                <i class="fa-regular fa-trash-can"></i>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                        </div>
                    </div>
                    <div class="col-7 notes" style="background: rgba(255, 255, 255, 0.5);">
                        <h3 style="text-align: center; font-family: 'Didact Gothic', sans-serif; margin-top: 20px; margin-bottom: 20px;">Добавить задачу</h3>
                        <form method="post" action="{% url 'tasks' %}" class="form-area">
                        {% csrf_token %}
                            <div class="mb-3">
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-secondary" style="float: right;">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    var today=new Date();
    var day=today.getDate();
    document.getElementById('tasks-notes').style.backgroundImage = 'url('+'/static/images/'+day+'.jpg'+')';
    document.getElementById('tasks-notes').style.backgroundRepeat = "no-repeat";
    document.getElementById('tasks-notes').style.backgroundPosition = "center";
    document.getElementById('tasks-notes').style.backgroundSize = "cover";
</script>

<script src="/static/js/calendarWidget.js"></script>

{% endblock content %}