{% extends "default.html" %}

{% block title %}
Все задачи
{% endblock title %}

{% block content %}
    <div class="container-xxl main-main">
        <div class="row">
            <div class="offcanvas-lg sidebar" tabindex="-1" id="offcanvasResponsive"  data-bs-keyboard="false"  data-bs-backdrop="false" data-bs-scroll="true" aria-labelledby="offcanvasResponsiveLabel" style="width: 280px; padding: 0px; background-color: rgba(126, 159, 164, 0.8) !important;">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body sidebar" style="display: block; padding: 0px;">
                    <div class="ava text-break">
                        <img src="{{ request.user.userprofile.avatar.url }}" alt="Avatar" width="80" height="80" class="rounded-circle">
                        <span class="username">{{ request.user.userprofile.name }}</span>
                    </div>
                    <div class="calendar-wrapper" style="margin-top: 170px;">
                        <button id="btnPrev" type="button" style="margin-top: 15px;"></button>
                        <h6 id="headCal"></h6>
                        <button id="btnNext" type="button"></button>
                        <div id="divCal"></div>
                    </div>
                    <div class="nav-list">
                        <ul style="list-style-type: none;">
                            <li style="padding-top: 0px;"><a href="{% url 'main' %}">Главная</a></li>
                            <li><a href="{% url 'notes' %}">Заметки</a></li>
                            <li class="current_page"><a href="{% url 'tasks' %}">Задачи</a></li>
                            <li><a href="{% url 'trash' %}">Корзина</a></li>
                            <li><a href="{% url 'user_settings' %}">Настройки</a></li>
                            <li style="background: rgba(108, 100, 81, 0.8);"><a href="{% url 'logout' %}">Выйти</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col" id="tasks-notes">
                <div class="row">
                    <div class="col-12 col-lg-6 tasks">
                        <button class="btn btn-primary d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive" style="background-color: transparent; border: none;">
                            <img width="30px" height="30px" src="/static/images/icons/menu_2.png" />
                        </button>
                        <h2 style="text-align: center; font-family: 'Didact Gothic', sans-serif; margin-top: 20px; margin-bottom: 50px;">Задачи</h2>
                        <div class="col-11">
                            {% for task in tasks_important %}
                                <div class="row">
                                    <div class="col-2 check-box">
                                        <a href="{% url 'task_done' task.id %}?next={{ request.path }}">
                                            <i class="fa-regular fa-circle"></i>
                                        </a>
                                    </div>
                                    <div class="row col-10 note-block">
                                        <div class="col-11 text-break">
                                            <h6><b>{{ task.task_title }}</b></h6>
                                            <a style="padding-right: 10px;" href="#" onclick="DateInsert({{ task.id }})">
                                                <img src="/static/images/icons/pen_icon.svg" />
                                            </a>
                                            <a href="{% url 'task_delete' task.id %}?next={{ request.path }}">
                                                <img src="/static/images/icons/trash_icon.svg" />
                                            </a>
                                        </div>
                                        <div class="col-1 ms-auto">
                                            <img src="/static/images/icons/flag_icon.svg" width="25px" height="25px"/>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for task in today_tasks %}
                                <div class="row">
                                    <div class="col-2 check-box">
                                        <a href="{% url 'task_done' task.id %}?next={{ request.path }}">
                                            <i class="fa-regular fa-circle"></i>
                                        </a>
                                    </div>
                                    <div class="row col-10 note-block">
                                        <div class="col-11 text-break">
                                            <h6><b>{{ task.task_title }}</b></h6>
                                            <a style="padding-right: 10px;" href="#" onclick="DateInsert({{ task.id }})">
                                                <img src="/static/images/icons/pen_icon.svg" />
                                            </a>
                                            <a href="{% url 'task_delete' task.id %}?next={{ request.path }}">
                                                <img src="/static/images/icons/trash_icon.svg" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% for task in tasks_deleted %}
                                    <div class="row">
                                        <div class="col-2 check-box">
                                            <a href="{% url 'task_undone' task.id %}?next={{ request.path }}"><i class="fa-regular fa-circle-check"></i></a>
                                        </div>
                                        <div class="row col-10 note-block">
                                            <div class="col-11 text-break" style="color: grey;">
                                                <h6><s>{{ task.task_title }}</s></h6>
                                                <a style="padding-right: 10px;" href="#" onclick="DateInsert({{ task.id }})">
                                                    <img src="/static/images/icons/pen_icon.svg" />
                                                </a>
                                                <a href="{% url 'task_delete' task.id %}?next={{ request.path }}">
                                                    <img src="/static/images/icons/trash_icon.svg" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 notes" style="background: rgba(255, 255, 255, 0.5);">
                        <h3 style="text-align: center; font-family: 'Didact Gothic', sans-serif; margin-top: 20px; margin-bottom: 20px;">
                            {% if task %}
                                Изменить задачу
                            {% else %}
                                Добавить задачу
                            {% endif %}
                        </h3>
                        <form method="post" action="{{ request.path }}" class="form-area">
                        {% csrf_token %}
                            <div class="mb-3">
                                <div class="task-name" style="margin-left: 25px;">
                                    {{ form.task_title }}
                                </div>
                                <div class="mt-3" style="margin-left: 25px;">
                                    {{ form.task_date }}
                                </div>
                                <div class="mt-3" style="margin-left: 25px;">
                                    {{ form.task_priority.label }}
                                    <span style="padding-left: 5px; vertical-align: -8%;">{{ form.task_priority }}</span>
                                </div>
                                <div class="save-but mb-3 mt-3">
                                    <button type="submit" class="btn btn-primary" id="task_submit" onclick="submitbtn()">Сохранить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    var today=new Date();
    var day=today.getDate();
    document.getElementById('tasks-notes').style.backgroundImage = 'url('+'/static/images/'+day+'.jpg'+')';
    document.getElementById('tasks-notes').style.backgroundRepeat = "no-repeat";
    document.getElementById('tasks-notes').style.backgroundPosition = "center";
    document.getElementById('tasks-notes').style.backgroundSize = "cover";
</script>

<script src="/static/js/calendarWidget.js"></script>

{% endblock content %}