{% extends "default.html" %}

{% block title %}
Корзина
{% endblock title %}

{% block content %}
    <div class="container-xxl main-main">
        <div class="row">
            <div class="col-auto col-2 sidebar" style="width: 280px;">
                <div class="ava">
                    <img src="{{ request.user.userprofile.avatar.url }}" alt="Avatar" width="80" height="80" class="rounded-circle">
                    <span class="username">{{ request.user }}</span>
                </div>
                <div class="input-group dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background: #282A25; border-color: #282A25; width: 17%;">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="">
                        <li><a class="dropdown-item" href="{% url 'tasks' %}">Задачу</a></li>
                        <li><a class="dropdown-item" href="{% url 'notes' %}">Заметку</a></li>
                    </ul>
                    <button type="button" class="btn btn-primary" style="background: #f0f8ff; color: black; border: 1px solid #ced4da; width: 80%; text-align: left;">Создать</button>
                </div>
                <div class="calendar-wrapper">
                    <button id="btnPrev" type="button" style="margin-top: 15px;"></button>
                    <h6 id="headCal"></h6>
                    <button id="btnNext" type="button"></button>
                    <div id="divCal"></div>
                </div>
                <div class="nav-list">
                    <ul style="list-style-type: none;">
                        <li><a href="{% url 'main' %}">Главная</a></li>
                        <li><a href="{% url 'notes' %}">Заметки</a></li>
                        <li><a href="{% url 'tasks' %}">Задачи</a></li>
                        <li class="current_page"><a href="{% url 'trash' %}">Корзина</a></li>
                        <li><a href="{% url 'user_settings' %}">Настройки</a></li>
                        <li style="background: rgba(108, 100, 81, 0.8);"><a href="{% url 'logout' %}">Выйти</a></li>
                    </ul>
                    </ul>
                </div>
            </div>
            <div class="col" id="tasks-notes">
                <div class="row">
                    <div class="col-6 tasks">
                        <h3 style="text-align: center; font-family: 'Didact Gothic', sans-serif; margin-top: 20px; margin-bottom: 40px;">Задачи</h3>
                        <div class="col-8 offset-2">
                            {% for task in task_trash %}
                                <div class="row note-block">
                                    <div class="col-10">
                                        <h6><b>{{ task.task_title }}</b></h6>
                                        <a href="{% url 'task_perm_delete' task.id %}">
                                            <img src="/static/images/icons/trash_icon.svg"/>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-6 notes" style="background: rgba(255, 255, 255, 0.5);">
                        <h3 style="text-align: center; font-family: 'Didact Gothic', sans-serif; margin-top: 20px; margin-bottom: 40px;">Заметки</h3>
                        <div class="col-8 offset-2 main-notes">
                        {% for note in note_trash %}
                            <div class="row note-block">
                                <div class="row">
                                    <div class="col-10">
                                        <a href="{% url 'note_details' note.id %}"><h6><b>{{ note.note_title }}</b></h6></a>
                                    </div>
                                    <div class="col-2 ms-auto note_date">
                                        {{ note.note_time | date:"j.m.Y" }}
                                    </div>
                                </div>
                                <div class="row align-items-start">
                                    <div class="col-10">
                                        <a href="{% url 'note_details' note.id %}">{{ note.note_text | truncatewords:3 }}</a>
                                    </div>
                                    <div class="col-1 ms-auto">
                                        <a href="{% url 'note_perm_delete' note.id %}">
                                            <img src="/static/images/icons/trash_icon.svg" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    var today=new Date();
    var day=today.getDate();
    document.getElementById('tasks-notes').style.backgroundImage = 'url('+'/static/images/'+day+'.jpg'+')';
    document.getElementById('tasks-notes').style.backgroundRepeat = "no-repeat";
    document.getElementById('tasks-notes').style.backgroundPosition = "center";
    document.getElementById('tasks-notes').style.backgroundSize = "cover";
</script>

<script src="/static/js/calendarWidget.js"></script>

{% endblock content %}