body {
    font-family: 'Roboto', sans-serif;
    background: #E0E0E0;
}

.sm-but:hover {
    color: white;
}

.lg-but:hover {
    color: white;
}

.header-area {
    height: 70px;
    border-top: 0.5px solid #E0E0E0;
    border-right: 0.5px solid #E0E0E0;
    border-left: 0.5px solid #E0E0E0;
    border-bottom: 3px solid #b1b1b1;
    background: #ffffff;
}

.main-area {
    height: 762px;
    border: 0.5px solid #b1b1b1;
    background: url(/static/images/bg-1.jpg) no-repeat center fixed;
    background-size: contain;
}

.main-main {
    height: 762px;
    border: 0.5px solid #b1b1b1;
    background: #ffffff;
}

.my-sidebar {
    float: left;
}

.button-wrapper {
    display: flex;
    justify-content: right;
}

#reg-res {
    margin-top: 20px;
}

#reg-res a {
    color: black;
    text-decoration: none;
}

.form-area {
    margin-top: 40px;
}

.form-block {
    padding-top: 40px;
    height: 360px;
}

.sm-but {
    text-align: center;
    background-color: #282A25;
    width: 100px;
    height: 40px;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
}

.my-inp {
    height: 60px;
    border-radius: 5px;
}

.rem-but {
    margin-top: 5px;
}

.lg-but {
    text-align: center;
    background-color: #282A25;
    width: 180px;
    height: 40px;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
}

.tasks {
    border: 0.5px solid #b1b1b1;
    height: 762px;
    overflow-y: scroll;
}

.notes {
    border: 0.5px solid #b1b1b1;
    height: 762px;
    overflow-y: scroll;
}

.note-block {
    border: 0.5px solid #b1b1b1;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
}

.ava {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* убрать стрелку вниз в кнопке добавления заметки или задачи в сайдбаре */
.dropdown-toggle::after {
    content: none;
}

.nav-list {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
}

.nav-list li {
    padding-top: 15px;
}

.nav-list a {
    color: black;
    text-decoration: none;
    test-align: center;
}

/* стили для виджета "календарь" */
.calendar-wrapper {
  width: 100%;
  margin: 1em auto;
  border: 0.5px solid #b1b1b1;
  border-radius: 5px;
  background: #fff;
}

table {
  clear: both;
  width: 100%;
  color: #444;
}

td {
  height: 20px;
  text-align: center;
  vertical-align: middle;
  width: 14.28571429%;
}

td a {
    text-decoration: none;
    color: black;
    text-size: 0.5em;
}

thead td {
  border: none;
  color: #28283b;
  text-transform: uppercase;
}

td.not-current a {
  color: #c0c0c0;
}

td.today a {
  font-weight: 700;
  color: red;
}

#btnPrev {
  float: left;
}

#btnPrev:before {
  content: '\f104';
  font-family: FontAwesome;
  padding-right: 4px;
}

#btnNext {
  float: right;
}

#btnNext:after {
  content: '\f105';
  font-family: FontAwesome;
  padding-left: 4px;
}

#btnPrev,
#btnNext {
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.6em;
  color: #c0c0c0;
  cursor: pointer;
  font-family: sans-serif;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

#btnPrev:hover,
#btnNext:hover {
  color: #28283b;
  font-weight: bold;
}




