body {
    font-family: 'Roboto', sans-serif;
    background: #E0E0E0;
}

/* убрать голубую обводку элементов форм */
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Убрать уголок растяжения текстового поля */
textarea {
    resize: none;
}

/* стили верхней панели */
.header-area {
    height: 70px;
    border-top: 0.5px solid #E0E0E0;
    border-right: 0.5px solid #E0E0E0;
    border-left: 0.5px solid #E0E0E0;
    border-bottom: 3px solid #b1b1b1;
    background: rgba(255, 255, 255, 0.8);
}

/* стили страниц авторизации и регистрации */
.main-area {
    height: 1200px;
    border: 0.5px solid #b1b1b1;
    background: url(/static/images/bg-1.jpg) no-repeat center fixed;
    background-size: contain;
}

.sm-but:hover {
    color: white;
}

.lg-but:hover {
    color: white;
}

.button-wrapper {
    display: flex;
    justify-content: right;
}

#reg-res {
    margin-top: 20px;
}

#reg-res a {
    color: black;
    text-decoration: none;
}

.form-area {
    margin-top: 40px;
}

.form-block {
    padding-top: 40px;
    height: 360px;
}

.sm-but {
    text-align: center;
    background-color: #282A25;
    width: 100px;
    height: 40px;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
}

.my-inp {
    height: 60px;
    border-radius: 5px;
}

.rem-but {
    margin-top: 5px;
}

.lg-but {
    text-align: center;
    background-color: #282A25;
    width: 180px;
    height: 40px;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
}

/* стили главной страницы */
.main-main {
    border: 0.5px solid #b1b1b1;
    background: url(/static/images/bg-2.jpg) no-repeat center fixed;
    background-size: cover;
}

.tasks {
    border: 0.5px solid #b1b1b1;
    height: 1200px;
    overflow-y: scroll;
}

.notes {
    border: 0.5px solid #b1b1b1;
    height: 1200px;
    overflow-y: scroll;
}

.tasks a, .main-notes a {
    color: black;
    text-decoration: none;
}

.notes::-webkit-scrollbar, .tasks::-webkit-scrollbar {
  width: 22px;
}

.notes::-webkit-scrollbar-thumb, .tasks::-webkit-scrollbar-thumb {
  background-color: rgba(154, 154, 154, 0.5);
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
}

.note-block {
    border: 0.5px solid #b1b1b1;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1),
                0px 2px 4px rgba(0,0,0,0.1),
                0px 4px 8px rgba(0,0,0,0.1),
                0px 8px 16px rgba(0,0,0,0.1);
}

.note_date {
    font-size: 12px;
}

/* стили страницы заметок */

.note_date2 {
    font-size: 12px;
    margin-right: 15px;
}

.note-title {
    border: 0;
    background: none;
    font-size: 27px;
    font-weight: 600;
    width: 70%;
    margin-left: 25px;
}

.note-text {
    border: 0;
    background: none;
    width: 80%;
    margin-left: 25px;
}

/* стили страницы с одной заметкой */
.notes-text {
    padding: 20px;
}

/* стили для виджета "календарь" */
.calendar-wrapper {
    margin: 50px 25px;
    border: 0.5px solid #b1b1b1;
    border-radius: 5px;
    background: #f0f8ff;
}

#divCal {
    margin-top: 10px;
}

table {
  clear: both;
  width: 100%;
  color: #444;
}

td {
  height: 20px;
  text-align: center;
  vertical-align: middle;
  width: 14.28571429%;
}

td a {
    text-decoration: none;
    color: black;
    font-size: 10px;
}

.days td {
    font-size: 11px;
    font-weight: 700;
}

td.not-current a {
  color: #c0c0c0;
}

.today {
    border-radius: 50%;
    background: #C4A27F;
    display: inline-block;
    width: 25px;
    height: 25px;
}

#headCal {
    margin: 0px 0px;
    text-transform: uppercase;
    font-size: 12px;
    display: inline;
    font-weight: 700;
}

#btnPrev:before {
  content: '\f104';
  font-family: FontAwesome;
  padding-right: 4px;
}

#btnNext:after {
  content: '\f105';
  font-family: FontAwesome;
  padding-left: 4px;
}

#btnPrev,
#btnNext {
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.6em;
  color: #c0c0c0;
  cursor: pointer;
  transition: all 0.3s ease;
}

#btnPrev:hover,
#btnNext:hover {
  color: #28283b;
  font-weight: bold;
}

/* стили боковой колонки */
.sidebar {
    background: rgba(126, 159, 164, 0.8);
    padding: 0px;
}

.ava {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 10px;
}

.username {
    padding-left: 10px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Didact Gothic', sans-serif;
}

.input-group {
    padding: 5px 20px 5px 20px;
}

/* убрать стрелку вниз в кнопке добавления заметки или задачи */
#dropdownMenuButton1::after {
    content: none;
}

.nav-list {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    /*background: #ECF7FB;*/
    background: #E2FFFF;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 100px;
}

.nav-list ul {
    padding-left: 0px;
}

.nav-list li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.nav-list a {
    color: black;
    text-decoration: none;
    test-align: center;
}

.current_page {
    background: rgba(236, 247, 251, 0.5);
    border: 0.5px solid #b1b1b1;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1),
                0px 2px 4px rgba(0,0,0,0.1),
                0px 4px 8px rgba(0,0,0,0.1),
                0px 8px 16px rgba(0,0,0,0.1);
}




