body {
    font-family: 'Roboto', sans-serif !important;
    background: #E0E0E0 !important;
}

/* убрать голубую обводку элементов форм */
.form-control:focus, .btn:focus, button:focus {
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* Убрать уголок растяжения текстового поля */
textarea {
    resize: none !important;
}

/* стили страницы входа */

.enter-main {
    height: 902px;
    background-image: url(/static/images/Welcome_screen.jpg);
    background-size: cover;
}

.enter-head {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 35px;
    line-height: 46px;
    text-align: center;
}

.enter-desc {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-top: 30px;
}

.plan-but {
    margin-top: 30px;
    font-size: 20px;
    line-height: 22.44px;
    display: flex;
    justify-content: center;
}

.plan-but button {
    background: rgba(126, 159, 164, 0.8);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 13px 23px;
    border: none;
}

/* стили верхней панели */

.header-area {
    height: 70px;
    /*border: 0.5px solid #b1b1b1;*/
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Didact Gothic', sans-serif;
}

.search-wrapper {
    position: relative;
    padding-left: 200px !important;
}

input.header-search {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 34px;
    width: 80%;
}

.icon {
    position: absolute;
    right: 15%;
    top: 19%;
}

/* стили страниц авторизации и регистрации */

.main-area {
    height: 832px;
    background-image: url(/static/images/2023.jpg);
    background-size: cover;
    /*border: 0.5px solid #b1b1b1;*/
}

.sm-but:hover {
    color: white;
}

.lg-but:hover {
    color: white;
}

.button-wrapper {
    display: flex;
    justify-content: right;
}

#reg {
    margin-top: 10px;
    font-weight: 300;
    font-size: 15px;
    line-height: 17.58px;
}

#reg a {
    color: #000000;
}

#reg-res {
    margin-top: 20px;
}

#reg-res a {
    color: black;
    text-decoration: none;
}

.form-area {
    margin-top: 40px;
}

.form-block {
    padding-top: 40px;
    height: 360px;
}

.sm-but {
    text-align: center;
    background-color: rgba(40, 42, 37, 0.8);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 100px;
    height: 40px;
    color: white;
}

.sm-but:focus, .lg-but:focus {
    border: none;
}

.my-inp {
    height: 60px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.my-inp:focus {
    border: none;
}

.rem-but {
    margin-top: 5px;
}

.lg-but {
    text-align: center;
    background-color: rgba(40, 42, 37, 0.8);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 220px;
    height: 40px;
    color: white;
}

/* стили главной страницы */

.main-main {
    /*border: 0.5px solid #b1b1b1;*/
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background: url(/static/images/bg-2.jpg) no-repeat center fixed;
    background-size: cover;
}

.tasks, .notes {
    /*border: 0.5px solid #b1b1b1;*/
    border-bottom: none;
    height: 832px;
    overflow-y: scroll;
}

.tasks a, .main-notes a {
    color: black;
    text-decoration: none;
}

.notes::-webkit-scrollbar, .tasks::-webkit-scrollbar, .note-details::-webkit-scrollbar {
  width: 22px;
}

.notes::-webkit-scrollbar-thumb, .tasks::-webkit-scrollbar-thumb, .note-details::-webkit-scrollbar-thumb {
  background-color: rgba(154, 154, 154, 0.5);
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
}

.note-block {
    border: 0.5px solid #b1b1b1;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1),
                0px 2px 4px rgba(0,0,0,0.1),
                0px 4px 8px rgba(0,0,0,0.1),
                0px 8px 16px rgba(0,0,0,0.1);
}

.note_date {
    font-size: 12px;
}

.next-button {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 50px;
}

.next-button button {
    font-weight: 600;
    background: rgba(236, 247, 251, 1);
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1),
                0px 2px 4px rgba(0,0,0,0.1),
                0px 4px 8px rgba(0,0,0,0.1),
                0px 8px 16px rgba(0,0,0,0.1);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 70px;
    padding-right: 70px;
    color: black;
}

.next-button button a {
    color: black;
    text-decoration: none;
}

.save-but button:hover {
    background: rgba(236, 247, 251, 1);
    border: 1px solid #ced4da;
    color: #0277bd;
}

.save-but button:active {
    background-color: rgba(236, 247, 251, 1) !important;
    border: 1px solid #ced4da !important;
    color: black !important;
}

#task-but:hover, #note-but:hover {
    background-color: white;
}

.check-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;

}

.but-div {
     height: 100px;
     /*border: 0.5px solid #b1b1b1;
     border-top: none;*/
}

/* стили страницы заметок */

.note_date2 {
    font-size: 12px;
}

.note-title {
    border: 0 !important;
    background: none !important;
    font-size: 27px !important;
    font-weight: 600 !important;
    width: 95% !important;
    margin-left: 25px !important;
}

.note-title:focus, .note-text:focus {
    background: #fff !important;
}

.note-text {
    border: 0  !important;
    background:  none !important;
    width: 95%  !important;
    margin-left:  25px !important;
}

.note-file {
    width: 60%  !important;
    margin-left:  25px !important;
}

.save-but {
    margin-left: 25px;
}

.save-but button{
    font-weight: 600;
    color: black;
    background: rgba(236, 247, 251, 1);
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1),
                0px 2px 4px rgba(0,0,0,0.1),
                0px 4px 8px rgba(0,0,0,0.1),
                0px 8px 16px rgba(0,0,0,0.1);
}

/* стили страницы с одной заметкой */

.note-details {
    height: 832px;
    overflow-y: scroll;
}

.notes-text {
    padding: 20px;
}

.upload-file {
    margin-bottom:40px;
    margin-top:40px;
}

.upload-file a {
    text-decoration: none;
    color: black;
    border: 0.5px solid #b1b1b1;
    border-radius: 5px;
    background: white;
    padding: 5px 10px;
}

#del-checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

#delete-file {
    margin-left: 10px;
    vertical-align: -10%;
}

/* стили страницы настроек */



/* стили для виджета "календарь" */

.calendar-wrapper {
    margin: 70px 25px 0px 25px;
    border: 0.5px solid #b1b1b1;
    border-radius: 5px;
    background: #f0f8ff;
}

#divCal {
    margin-top: 10px;
}

table {
  clear: both;
  width: 100%;
  color: #444;
}

td {
  height: 20px;
  text-align: center;
  vertical-align: middle;
  width: 14.28571429%;
}

td a {
    text-decoration: none;
    color: black;
    font-size: 10px;
}

.days td {
    font-size: 11px;
    font-weight: 700;
}

td.not-current a {
  color: #c0c0c0;
}

.today {
    border-radius: 50%;
    background: #C4A27F;
    display: inline-block;
    width: 25px;
    height: 25px;
}

#headCal {
    margin: 0px 0px;
    text-transform: uppercase;
    font-size: 12px;
    display: inline;
    font-weight: 700;
}

#btnPrev:before {
  content: '\f104';
  font-family: FontAwesome;
  padding-right: 4px;
}

#btnNext:after {
  content: '\f105';
  font-family: FontAwesome;
  padding-left: 4px;
}

#btnPrev,
#btnNext {
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.6em;
  color: #c0c0c0;
  cursor: pointer;
  transition: all 0.3s ease;
}

#btnPrev:hover,
#btnNext:hover {
  color: #28283b;
  font-weight: bold;
}

/* стили боковой колонки */

.sidebar {
    background-color: rgba(126, 159, 164, 0.8) !important;
    padding: 0px !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
}

.ava {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 0px 10px;
}

.username {
    padding-left: 10px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Didact Gothic', sans-serif;
}

.input-group {
    padding: 5px 20px 5px 20px;
}

/* убрать стрелку вниз в кнопке добавления заметки или задачи */
#dropdownMenuButton1::after {
    content: none;
}

.nav-list {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    background: #E2FFFF;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
}

.nav-list ul {
    padding-left: 0px;
}

.nav-list li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.nav-list a {
    color: black;
    text-decoration: none;
    test-align: center;
}

.current_page {
    background: rgba(236, 247, 251, 0.5);
    border: 0.5px solid #b1b1b1;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1),
                0px 2px 4px rgba(0,0,0,0.1),
                0px 4px 8px rgba(0,0,0,0.1),
                0px 8px 16px rgba(0,0,0,0.1);
}

/* медиа запросы */

/*@media (max-width: 1600px) {
    .main-area {
        background: url(/static/images/bg-1_mobile.jpg) no-repeat fixed;
        background-size: cover;
    }
}

@media screen and (min-width: 1601px){
    .main-area {
        background: url(/static/images/2023.jpg) no-repeat fixed;
        background-size: cover;
    }
}*/

@media screen and (max-width: 992px){
    .tasks, .notes {
        height: auto;
    }

    .search-wrapper {
        padding-left: 100px !important;
        padding-right: 0 !important;
    }

    .but-div {
        position: absolute;
        visibility: hidden;
        display: none;
    }

    .main-area {
        background: url(/static/images/bg-1_mobile.jpg) no-repeat fixed;
        background-size: cover;
    }
}

/*@media (max-width: 700px) {
    .icon {
        position: absolute;
        right: 14%;
        top: 19%;
    }
}*/