body {
    font-family: 'Roboto', sans-serif !important;
    background: #E0E0E0 !important;
}

select option {
    background: rgba(236, 247, 251, 1);
    border-radius: 5px !important;
}

select option:hover {
    background-color: red !important;
}

/* убрать голубую обводку элементов форм */
.form-control:focus, .btn:focus, button:focus {
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* Убрать уголок растяжения текстового поля */
textarea {
    resize: none !important;
}

/* стили страницы входа */

.enter-main {
    height: 902px;
    background-image: url(/static/images/Welcome_screen.jpg);
    background-size: cover;
    position: relative;
}

.enter-head {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 35px;
    line-height: 46px;
    text-align: center;
}

.enter-desc {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-top: 30px;
}

.plan-but {
    margin-top: 30px;
    font-size: 20px;
    line-height: 22.44px;
    display: flex;
    justify-content: center;
}

.plan-but button {
    background: rgba(126, 159, 164, 0.8);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 13px 23px;
    border: none;
    width: 380px;
}

.acc-login {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    margin-top: 10px;
    color: #000000;
    text-align: center;
}

.acc-login a {
    color: #000000;
}

.digits-block {
    margin-top: 100px;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.pc-pic {
    width: 600px;
    height: 500px;
    position: absolute;
    left: 60px;
    bottom: 0;
}

.slogan-1 {
    margin: 30px 60px 40px 60px;
    width: 65%;
}

.slogan-2 {
    margin: 100px 110px 40px 0px;
    width: 65%;
}

.slogan-3 {
    margin: 90px 50px 40px 80px;
    width: 65%;
}

.ent-block {
    padding-left: 20px;
    padding-right: 20px;
}

/* стили верхней панели */

.header-area {
    height: 70px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Didact Gothic', sans-serif;
}

.search-wrapper {
    position: relative;
    padding-left: 160px !important;
}

.input-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

input.header-search {
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 80%;
    background: rgba(255, 255, 255, 0.8);
    color: #9a9a9a;
    font-weight: 300;
    font-size: 15px;
    padding-top: 3px;
}

.icon {
    position: absolute;
    right: 10%;
    top: 5%;
}

.lang-select {
    border: none !important;
    background: transparent !important;
    background: url(/static/images/icons/chevron.svg) no-repeat right !important;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    width: 60px;
}

/* убрать крестик в форме поиска */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/* стили страниц авторизации и регистрации */

.main-area {
    height: 832px;
    background-image: url(/static/images/2023.jpg);
    background-size: cover;
}

.eye {
    position: absolute;
    right: 5%;
    top: 30%;
    cursor: pointer;
}

.eye2 {
    position: absolute;
    right: 4%;
    top: 52%;
    cursor: pointer;
}

.eye3 {
    position: absolute;
    right: 4%;
    top: 18%;
    cursor: pointer;
}

#pass-inp {
    position: relative;
}

.auth-header {
    font-size: 30px;
    line-height: 39px;
    font-family: 'Didact Gothic';
    text-align: center;
    margin-bottom: 30px;
}

.sm-but:hover {
    color: white;
}

.button-wrapper {
    display: flex;
    justify-content: right;
}

#reg {
    margin-top: 10px;
    font-weight: 300;
    font-size: 15px;
    line-height: 17.58px;
}

#reg a {
    color: #000000;
}

#reg-res {
    margin-top: 20px;
}

#reg-res a {
    color: black;
    text-decoration: none;
}

.form-block {
    padding-top: 40px;
    height: 360px;
}

.sm-but {
    text-align: center;
    background-color: rgba(40, 42, 37, 0.8);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 100px;
    height: 40px;
    color: white;
}

.sm-but:focus, .lg-but:focus, #id_name:focus, #id_email:focus, .no-focus:focus, #note-file:focus, #side-but {
    border: none;
}

.my-inp {
    height: 60px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
}

.my-inp:focus, #id_task_title, #id_task_date:focus-visible, #id_task_time:focus-visible, #id_task_date, #id_task_time, #id_avatar:focus, #id_avatar:active, #note-file:focus, .no-focus, #dropdownMenuButton1:focus {
    border: none;
    outline: none;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: rgba(236, 247, 251, 1) !important;
}

.dropdown-menu {
    border-radius: 5px !important;
}

.rem-but {
    margin-top: 5px;
}

.lg-but {
    text-align: center;
    background-color: rgba(40, 42, 37, 0.8) !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 220px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
}

/* стили главной страницы */

.main-header {
    font-size: 25px;
    font-family: 'Didact Gothic', sans-serif;
    line-height: 33px;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 20px;
}

.main-main {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background: url(/static/images/bg-2.jpg) no-repeat center fixed;
    background-size: cover;
}

.tasks, .notes {
    border-bottom: none;
    height: 832px;
    overflow-y: scroll;
}

.tasks a, .main-notes a {
    color: black;
    text-decoration: none;
}

.note-link a:hover {
    color: black;
}

.drop-icon {
    width: 40px;
    height: 40px;
    background: #282A25;
    border: none;
    padding: 0;
}

.drop-head {
    padding-left: 15px;
    font-size: 15px;
}

textarea::-webkit-scrollbar, .notes::-webkit-scrollbar, .tasks::-webkit-scrollbar, .note-details::-webkit-scrollbar {
  width: 22px;
}

textarea::-webkit-scrollbar-thumb, .notes::-webkit-scrollbar-thumb, .tasks::-webkit-scrollbar-thumb, .note-details::-webkit-scrollbar-thumb {
  background-color: rgba(154, 154, 154, 0.5);
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
}

.note-block {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 12px 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.current-note {
    background: #C4A27F;
}

.note_date {
    font-size: 10px;
}

.next-button {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 50px;
}

.next-button button {
    font-weight: 600;
    background: rgba(236, 247, 251, 1);
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1),
                0px 2px 4px rgba(0,0,0,0.1),
                0px 4px 8px rgba(0,0,0,0.1),
                0px 8px 16px rgba(0,0,0,0.1);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 70px;
    padding-right: 70px;
    color: black;
}

.next-button button a {
    color: black;
    text-decoration: none;
}

.save-but2 button:hover {
    background: rgba(236, 247, 251, 1);
    border: 1px solid #ced4da;
    color: black;
}

.save-but button:active, .save-but2 button:active, .dropdown-item:active {
    background-color: rgba(236, 247, 251, 1) !important;
    border: 1px solid #ced4da !important;
    color: black !important;
}

#task-but:hover, #note-but:hover {
    background-color: white;
}

#task_submit:hover {
    background: #f3fafc;
    border: 1px solid #ced4da;
    color: black;
}

.lg-but:hover {
    color: white;
}

.check-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;

}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.task-time {
    color: red;
    padding-right: 10px;
    font-size: 15px;
}

.but-div {
     height: 100px;
}

/* стили страницы заметок */

.note_date2 {
    font-size: 10px;
    padding-right: 0 !important;
}

.black-li {
    font-size: 15px;
    line-height: 18px;
}

.red-li {
    font-size: 15px;
    line-height: 18px;
    color: #D65E51 !important;
}

.note-title {
    border: 0 !important;
    background: none !important;
    font-size: 20px !important;
    line-height: 23px !important;
    font-weight: 700 !important;
    width: 95% !important;
    margin-left: 25px !important;
    color: #7F7F7F !important;
}

.note-title3 {
    border: 0 !important;
    background: rgba(255, 255, 255, 0.8) !important;
    font-size: 20px !important;
    width: 95% !important;
    margin-left: 25px !important;
    color: #000000 !important;
}

.note-title:focus, .note-text:focus {
    background: #fff !important;
}

.note-text {
    border: 0  !important;
    background:  none !important;
    width: 95%  !important;
    margin-left:  25px !important;
    font-size: 15px !important;
    line-height: 18px !important;
    color: #7F7F7F !important;
}

.note-text3 {
    border: 0 !important;
    background: rgba(255, 255, 255, 0.8) !important;
    width: 95%  !important;
    margin-left: 25px !important;
    font-size: 15px !important;
    line-height: 18px !important;
    color: #000000 !important;
}

.note-text2 {
    font-size: 10px;
}

.note-title2 {
    font-weight: 700;
    font-size: 15px;
}

.file-label {
    width: 70% !important;
    margin-left:  15px !important;
}

.file-label2 {
    width: 70% !important;
    margin-bottom: 0 !important;
}

.file-label3 {
    width: 100%;
}

#text_input_span_id {
    font-size: 15px !important;
    background: rgba(236, 247, 251, 0.8) !important;
    cursor: pointer;
    width: 100px !important;
    margin:auto;
    display:table;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}

#text_input_id {
    font-size: 15px !important;
    caret-color: transparent;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}

.save-but {
    margin-left: 37px;
}

.save-but button{
    color: #000000;
    background: rgba(236, 247, 251, 0.8);
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 6px 37px;
    font-size: 15px;
    line-height: 18px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/* стили страницы с одной заметкой */

.note-details {
    height: 832px;
    overflow-y: scroll;
}

.notes-text {
    padding: 0px 40px;
}

.upload-file {
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 37px;
}

.upload-file a {
    text-decoration: none;
    color: black;
    border: 0.5px solid #b1b1b1;
    border-radius: 5px;
    background: white;
    padding: 5px 10px;
}

#del-checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

#delete-file {
    margin-left: 10px;
    vertical-align: -10%;
}

/* стили страницы задач */

#id_task_title {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    font-size: 15px;
    line-height: 18px;
    color: #7F7F7F;
}

.prior-check {
    margin-left: 25px;
    font-size: 15px;
    line-height: 18px;
    color: #282A25;
}

.task-row {
    padding-right: 20px;
    }

/* стили страницы настроек */

.alert {
    margin: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.alert button {
    padding: 2px 2px !important;
}

.set-label {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #282A25;
    margin-bottom: 0;
}

.save-but2 button {
    color: #000000;
    background: rgba(236, 247, 251, 0.8);
    border-radius: 5px;
    font-size: 15px;
    line-height: 18px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 8px 60px;
}

.set-form {
    margin-left: 40px;
}

.mt-313 {
    margin-top: 313px;
}

.mt-260 {
    margin-top: 260px;
}

/* стили боковой колонки */

.sidebar {
    background-color: rgba(126, 159, 164, 0.5) !important;
    padding: 0px !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
}

.ava {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 0px 10px;
}

.username {
    padding-left: 10px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Didact Gothic', sans-serif;
}

.input-group {
    padding: 5px 20px 5px 20px;
}

/* убрать стрелку вниз в кнопке добавления заметки или задачи */
#dropdownMenuButton1::after, #dropdownMenuButton2::after, #dropdownMenuButton3::after {
    content: none;
}

.nav-list {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    background: rgba(236, 247, 251, 0.8);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
}

.nav-list ul {
    padding-left: 0px;
}

.nav-list li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.nav-list a {
    color: black;
    text-decoration: none;
    test-align: center;
}

.nav-list a:hover {
    color: black;
}

.current_page {
    background: #ECF7FB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.logout-menu {
    background: rgba(108, 100, 81, 0.8);
}

.logout-menu a {
    color: #FFFFFF;
}

#side-but {
    cursor: default;
}

/* медиа запросы */

@media screen and (max-width: 992px){
    .tasks, .notes, .user-settings {
        height: auto;
        padding-right: 0 !important;
    }

    .search-wrapper {
        padding-left: 60px !important;
        padding-right: 0 !important;
    }

    .lang-mob {
        padding: 5px !important;
    }

    .logo-div {
        padding-left: 0 !important;
    }

    .but-div, .pc-pic {
        position: absolute;
        visibility: hidden;
        display: none;
    }

    .main-area, .enter-main {
        background: url(/static/images/bg-1_mobile.jpg) no-repeat fixed;
        background-size: cover;
    }

    .digits-block {
        margin-top: 50px;
    }

    .slogan-1, .slogan-2, .slogan-3 {
        margin: 30px auto;
    }

    .task-row {
        padding-right: 0;
    }

    .notes-text {
        padding: 0 10px;
    }

    .note-text3, .note-title3 {
        margin: 0 !important;
    }

    .set-form {
        margin-left: 0;
        margin-right: 10px;
    }

    .mt-313, .mt-260 {
        margin-top: 30px;
    }

    .note-file {
        width: 100% !important;
    }

    .modalContent {
        width: 100% !important;
    }

}

/* модальное окно для подтверждения удаления аккаунта */

.modal {
      text-align: center;
      display: none;
      position: fixed;
      z-index: 1;
      padding-top: 100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
   }
   .modalContent {
      font-size: 20px;
      font-weight: bold;
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 50%;
   }
   .close {
      color: rgb(255, 65, 65);
      float: right;
      font-size: 40px;
      font-weight: bold;
   }
   .close:hover, .close:focus {
      color: #ff1010;
      cursor: pointer;
   }
   .modalContent button {
      border: none;
      border-radius: 4px;
      font-size: 18px;
      font-weight: bold;
      padding: 10px 20px;
   }
   .del {
      background-color: rgb(255, 65, 65);
      margin-right: 20px;
   }

   .cancel {
      margin-left: 20px;
   }

   .del:hover {
      background-color: rgb(255, 7, 7);
   }
   .cancel:hover {
      background-color: rgb(167, 167, 167);
   }

/* стили для виджета "календарь" */

.calendar-wrapper {
    margin: 70px 25px 0px 25px;
    border: 0.5px solid #b1b1b1;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
}

#divCal {
    margin-top: 10px;
    padding: 0 15px 15px 15px;
}

table {
  clear: both;
  width: 100%;
  color: #444;
}

td {
  text-align: center;
  vertical-align: middle;
  width: 14.28571429%;
}

td a {
    text-decoration: none;
    color: black;
    font-size: 10px;
}

.days td {
    font-size: 11px;
    font-weight: 700;
}

td.not-current a {
  color: #c0c0c0;
}

.today {
    border-radius: 50%;
    background: rgba(196, 162, 127, 0.8);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    display: table-cell;
    width: 26px;
    height: 26px;
}

#headCal {
    margin: 0px 0px;
    text-transform: uppercase;
    font-size: 12px;
    display: inline;
    font-weight: 700;
}

#btnPrev:before {
  content: '\f104';
  font-family: FontAwesome;
  padding-right: 4px;
}

#btnNext:after {
  content: '\f105';
  font-family: FontAwesome;
  padding-left: 4px;
}

#btnPrev {
    padding-left: 20px;
}

#btnPrev,
#btnNext {
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.6em;
  color: #c0c0c0;
  cursor: pointer;
  transition: all 0.3s ease;
}

#btnPrev:hover,
#btnNext:hover {
  color: #28283b;
  font-weight: bold;
}

/* стили для виджета DatePicker */

.datepicker-wrapper {
    width: 200px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
}

.select-date {
    position: relative;
}

.calendar-wrapper2 {
    margin: 70px 25px 0px 25px;
    border: 0.5px solid #b1b1b1;
    border-radius: 5px;
    background: rgba(255, 255, 255);
    width: 300px;
    display: none;
    position: absolute;
    z-index: 1;
}

.active {
    display: block;
}

td.not-current {
  color: #c0c0c0;
}

.dates td {
    font-size: 11px;
    height: 30px;
}

.dates td:hover {
    background: rgba(196, 162, 127, 0.8);
}

